@model long

<div class="article-toolbar d-flex flex-wrap gap-3">
    <button class="btn btn-sm btn-link text-muted p-0 bg-color" title="Edit">
        <i data-feather="edit-2"></i> <span class="d-none d-md-inline">Edit</span>
    </button>
    <button class="btn btn-sm btn-link text-muted p-0 bg-color" title="Lock">
        <i data-feather="lock"></i> <span class="d-none d-md-inline">Lock</span>
    </button>
    <button class="btn btn-sm btn-link text-muted p-0 bg-color" title="Pin">
        <i data-feather="map-pin"></i> <span class="d-none d-md-inline">Pin</span>
    </button>
    <button class="btn btn-sm btn-link text-muted p-0 bg-color" title="Publish">
        <i data-feather="upload"></i> <span class="d-none d-md-inline">Publish</span>
    </button>
</div>
