/* Clone from Microsoft*/

.alert.is-success {
    background-color: #dff6dd;
    border: 1px solid #dff6dd;
}

.alert.is-warning {
    background-color: #fff4ce;
    border: 1px solid #fff4ce;
}

.alert {
    background-color: #f2f2f2;
    outline-color: #161616;
    color: #161616;
    word-wrap: break-word;
    word-break: break-word;
    border: 1px solid #fff0;
    border-radius: 0.375rem;
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1rem;
    transition: height .5s ease-in, opacity .5s ease-in;
    display: block;
    position: relative;
    min-width: 150px;
}

.alert.is-success .alert-title,
.alert.is-success a:not(.button) {
    color: #054b16;
}

.alert .alert-title,
.alert a:not(.button) {
    color: currentColor;
    font-weight: 600;
}

.alert>:first-child {
    margin-top: 0;
}

.content p {
    word-wrap: break-word;
    margin-top: 1rem;
    margin-bottom: 0;
}

.alert>* {
    max-width: 100%;
}

.alert.is-info {
    background-color: #efd9fd;
    border: 1px solid #efd9fd;
}

.alert.is-danger {
    background-color: white;
    border: 1px solid red;
    color: red;
}

.docon {
    font-family: docons;
    font-size: inherit;
    speak: none;
    font-variant: normal;
    text-transform: none;
    text-align: center;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    display: inline-block;
}

.docon-lightbulb:before {
    font-family: 'feather';
    content: "\e978";
}

.docon-status-error-outline:before {
    font-family: 'feather';
    content: "\e97c";
}

/* End Clone from Microsoft*/